@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Roboto:wght@400;500&family=Ubuntu&display=swap');

*{
    font-family: 'Cantarell', 'Roboto', 'Ubuntu', sans-serif;
    margin: 0; padding: 0;
    border: none; outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background-color: rgb(245, 245, 245);
}

.header{
    padding: 0 9.8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8rem;
    background-color: white;

    .logo{
        img{
            width: 5.4rem;
            height: 5.4rem;
        }
    }

    .header-2{
        .navbar{
            display: none;
        }
    }
}

main{
    padding: 0 9.8%;
    height: 100vh;
}

.home{
    height: 100%;
    background-color: #F7FDFB;
    background-image: url(../img/diagnostic-lab-hero-bg.jpg);
    background-position: top right;
    background-repeat: no-repeat;
    .row{
        display: flex;
        flex-wrap: wrap;
        padding: 16rem 0 0 5.1rem;

        .box{
            flex: 1;

            h6{
                color: #F6821F;
                font-size: 2rem;
            }

            h1{
                font-family: "Roboto", sans-serif;
                font-weight: 500;
                color: #036738;
                font-size: 5rem;
                line-height: 1;
                padding-right: 5rem;
            }

            p{
                line-height: 2;
                font-size: 1.5rem;
                padding: 1rem 0;
            }

            .btn{
                display: inline-block;
                width: auto;
            }
        }

        .box-1{
            width: 46rem;

            img{
                width: 42rem;
                height: 42rem;
            }
        }
    }
}
