@import url("https://fonts.googleapis.com/css2?family=Cantarell&family=Roboto:wght@400;500&family=Ubuntu&display=swap");
* {
  font-family: 'Cantarell', 'Roboto', 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: whitesmoke;
}

.header {
  padding: 0 9.8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 8rem;
  background-color: white;
}

.header .logo img {
  width: 5.4rem;
  height: 5.4rem;
}

.header .header-2 .navbar {
  display: none;
}

main {
  padding: 0 9.8%;
}

.home {
  background-color: #F7FDFB;
  background-image: url(../img/diagnostic-lab-hero-bg.jpg);
  background-position: top right;
  background-repeat: no-repeat;
}

.home .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 14rem 0 12rem 5.1rem;
  min-height: 60rem;
}

.home .row .box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.home .row .box h6 {
  color: #F6821F;
  font-size: 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

.home .row .box h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #036738;
  font-size: 5rem;
  line-height: 1;
  padding-right: 5rem;
}

.home .row .box p {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-size: 1.7rem;
  padding-top: 2rem;
  padding-bottom: 4rem;
  color: #7a7a7a;
  font-weight: 400;
}

.home .row .box .btn {
  display: inline-block;
  line-height: 1;
  background-color: #F6821F;
  font-size: 1.5rem;
  padding: 1.2rem 2.4rem;
  border-radius: 0.3rem;
  color: #fff;
  fill: #fff;
  text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.home .row .box-1 {
  width: 40%;
}

.home .row .box-1 img {
  width: 91%;
  height: auto;
  border-radius: 16px 16px 16px 0px;
}

.infra-ser {
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #F7FDFB), color-stop(50%, #FFFFFF));
  background-image: linear-gradient(180deg, #F7FDFB 50%, #FFFFFF 50%);
}

.infra-ser .row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.7fr;
      grid-template-columns: 1fr 0.7fr;
  padding: 14rem 5rem 12rem 5.1rem;
  min-height: 60rem;
}

.infra-ser .row h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 1.4;
  margin-bottom: 0.8rem;
  color: white;
}

.infra-ser .row .cont {
  width: 20.8rem;
}

.infra-ser .row p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.85714285714286;
  color: #F7FDFB;
}

.infra-ser .row .box {
  background-image: url(../img/clinica-e-consultorios-online-doctor-gestao-proposta-min-min.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.infra-ser .row .box .serv {
  background-color: #008037;
  -webkit-transition: background 0.3s, border 0.3s, border-radius 0.3s, -webkit-box-shadow 0.3s;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, -webkit-box-shadow 0.3s;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
  margin: 42% 0% 0% 50%;
  --e-column-margin-right: 0%;
  --e-column-margin-left: 50%;
  padding: 3.4rem 4rem 2.4rem 3.2rem;
}

.infra-ser .row .box-1 .row-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.infra-ser .row .box-1 .row-1 .infra {
  background-color: #FFFFFF;
  -webkit-transition: background 0.3s, border 0.3s, border-radius 0.3s, -webkit-box-shadow 0.3s;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, -webkit-box-shadow 0.3s;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
  padding: 3.4rem 4rem 2.4rem 3.2rem;
  width: 50%;
}

.infra-ser .row .box-1 .row-1 .infra h3 {
  color: #008037;
}

.infra-ser .row .box-1 .row-1 .infra p {
  color: #7a7a7a;
}

.infra-ser .row .box-1 .row-1 .loca {
  background-color: #008037;
  padding: 3.4rem 4rem 2.4rem 3.2rem;
  border-radius: 0px 16px 0px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.infra-ser .row .box-1 .row-1 .loca p {
  color: #F7FDFB;
}

.infra-ser .row .box-1 .row-1 .loca .end {
  margin-bottom: 1.3rem;
}

.infra-ser .row .box-1 .row-1 .loca h3 {
  color: white;
}

.infra-ser .row .box-1 .consul {
  background-color: #F5811F;
  padding: 3.4rem 4rem 2.4rem 3.2rem;
}
/*# sourceMappingURL=estilo.css.map */