@import url("https://fonts.googleapis.com/css2?family=Cantarell&family=Roboto+Slab&family=Roboto:wght@400;500&family=Ubuntu&display=swap");
* {
  font-family: 'Cantarell', 'Roboto', 'Roboto Slab', 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: whitesmoke;
}

.btn {
  display: inline-block;
  line-height: 1;
  background-color: #F6821F;
  font-size: 1.5rem;
  padding: 1.2rem 2.4rem;
  border-radius: 0.3rem;
  color: #fff;
  fill: #fff;
  text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 5.2rem;
}

.header {
  padding: 0 9.8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 8rem;
  background-color: white;
}

.header .logo img {
  width: 5.4rem;
  height: 5.4rem;
}

.header .header-2 .navbar {
  display: none;
}

main {
  padding: 0 9.8%;
}

.home {
  background-color: #F7FDFB;
  background-image: url(../img/diagnostic-lab-hero-bg.jpg);
  background-position: top right;
  background-repeat: no-repeat;
}

.home .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 14rem 0 12rem 5.1rem;
  min-height: 60rem;
}

.home .row .box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.home .row .box h6 {
  color: #F6821F;
  font-size: 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

.home .row .box h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #036738;
  font-size: 5rem;
  line-height: 1;
  padding-right: 5rem;
}

.home .row .box p {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-size: 1.7rem;
  padding-top: 2rem;
  padding-bottom: 4rem;
  color: #7a7a7a;
  font-weight: 400;
}

.home .row .box-1 {
  width: 40%;
}

.home .row .box-1 img {
  width: 91%;
  height: auto;
  border-radius: 16px 16px 16px 0px;
}

.infra-ser {
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #F7FDFB), color-stop(50%, #FFFFFF));
  background-image: linear-gradient(180deg, #F7FDFB 50%, #FFFFFF 50%);
}

.infra-ser .row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.7fr;
      grid-template-columns: 1fr 0.7fr;
  padding: 5rem 5rem 12rem 5.1rem;
  min-height: 60rem;
}

.infra-ser .row h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 1.4;
  margin-bottom: 0.8rem;
  color: white;
}

.infra-ser .row .cont {
  width: 20.8rem;
}

.infra-ser .row p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.85714285714286;
  color: #F7FDFB;
}

.infra-ser .row .box {
  background-image: url(../img/clinica-e-consultorios-online-doctor-gestao-proposta-min-min.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.infra-ser .row .box .serv {
  background-color: #008037;
  -webkit-transition: background 0.3s, border 0.3s, border-radius 0.3s, -webkit-box-shadow 0.3s;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, -webkit-box-shadow 0.3s;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
  margin: 42% 0% 0% 50%;
  --e-column-margin-right: 0%;
  --e-column-margin-left: 50%;
  padding: 3.4rem 4rem 2.4rem 3.2rem;
}

.infra-ser .row .box-1 .row-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.infra-ser .row .box-1 .row-1 .infra {
  background-color: #FFFFFF;
  -webkit-transition: background 0.3s, border 0.3s, border-radius 0.3s, -webkit-box-shadow 0.3s;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, -webkit-box-shadow 0.3s;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
  padding: 3.4rem 4rem 2.4rem 3.2rem;
  width: 50%;
}

.infra-ser .row .box-1 .row-1 .infra h3 {
  color: #008037;
}

.infra-ser .row .box-1 .row-1 .infra p {
  color: #7a7a7a;
}

.infra-ser .row .box-1 .row-1 .loca {
  background-color: #008037;
  padding: 3.4rem 4rem 2.4rem 3.2rem;
  border-radius: 0px 16px 0px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.infra-ser .row .box-1 .row-1 .loca p {
  color: #F7FDFB;
}

.infra-ser .row .box-1 .row-1 .loca .end {
  margin-bottom: 1.3rem;
}

.infra-ser .row .box-1 .row-1 .loca h3 {
  color: white;
}

.infra-ser .row .box-1 .consul {
  background-color: #F5811F;
  padding: 3.4rem 4rem 2.4rem 3.2rem;
}

.infra-ser .row .box-1 .consul p {
  margin-bottom: 7.1rem;
}

.infra-ser .row .box-1 .consul .info-infra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.infra-ser .row .box-1 .consul .info-infra .buttom {
  fill: #FFFFFF;
  color: #FFFFFF;
  background-color: rgba(2, 1, 1, 0);
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #FFFFFF;
  display: inline-block;
  line-height: 1;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 12px 24px;
  border-radius: 3px;
  color: #fff;
  fill: #fff;
  text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.infra-ser .row .box-1 .consul .info-infra .buttom:hover {
  background-color: white;
  color: #008037;
}

.infra-ser .row .box-1 .consul .info-infra .barra {
  width: 0.1rem;
  height: 4.8rem;
  margin-inline: 3.2rem;
  background-color: rgba(255, 255, 255, 0.16);
}

.infra-ser .row .box-1 .consul .info-infra .what {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.infra-ser .row .box-1 .consul .info-infra .what .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 4rem;
  height: 4rem;
  margin-right: 1.6rem;
  background-color: #28BD86;
  fill: #FFFFFF;
  color: #FFFFFF;
  font-size: 14px;
  padding: 14px;
  border-radius: 50%;
}

.infra-ser .row .box-1 .consul .info-infra .what .num a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: white;
}

.infra-ser .row .box-1 .consul .info-infra .what .num p {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1em;
  letter-spacing: 1px;
  margin: 0;
}

.espe {
  background-color: white;
}

.espe .row {
  padding: 5rem 2rem 3rem 2rem;
  text-align: center;
}

.espe .row .heading {
  font-size: 3.3rem;
  color: #008037;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  margin-bottom: 3rem;
}

.espe .row p {
  font-size: 1.6rem;
  line-height: 1.5;
  color: #7a7a7a;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-bottom: 4rem;
}

.espe .row .swiper {
  height: 35rem;
}

.espe .row .swiper-wrapper .swiper-slider {
  width: 37.3rem;
}

.espe .row .swiper-wrapper .swiper-slider .box {
  position: relative;
  text-align: center;
  overflow: hidden;
}

.espe .row .swiper-wrapper .swiper-slider .box .image {
  height: 40rem;
  width: 100%;
  overflow: hidden;
}

.espe .row .swiper-wrapper .swiper-slider .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.espe .row .btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background-color: #F5811F;
}

.espe .row .btn:hover {
  background-color: #008037;
}

.n-estru {
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #FFFFFF), color-stop(50%, #F7FDFB));
  background-image: linear-gradient(180deg, #FFFFFF 50%, #F7FDFB 50%);
}

.n-estru .row {
  -webkit-transition: background 0.3s, border 0.3s, border-radius 0.3s, -webkit-box-shadow 0.3s;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, -webkit-box-shadow 0.3s;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
  padding: 80px 40px 80px 40px;
  text-align: center;
}

.n-estru .row .heading {
  font-size: 3.3rem;
  color: #F5811F;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  margin-bottom: 3rem;
}

.n-estru .row p {
  font-size: 1.6rem;
  line-height: 1.5;
  color: #7a7a7a;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-bottom: 5rem;
}

.n-estru .row .margin {
  margin-bottom: 0;
}

.n-estru .row .gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  row-gap: 2.5rem;
  -webkit-column-gap: 2.5rem;
          column-gap: 2.5rem;
}

.n-estru .row .gallery .image {
  width: 55.8rem;
  height: 41.7rem;
}

.n-estru .row .gallery .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px 16px 16px 16px;
}

.depo {
  background-color: #F7FDFB;
  -webkit-transition: background 0.3s, border 0.3s, border-radius 0.3s, -webkit-box-shadow 0.3s;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, -webkit-box-shadow 0.3s;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
  margin-top: 0;
  margin-bottom: 16rem;
  border-radius: 0 0 0 12rem;
}

.depo .row {
  width: 114rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.4rem;
}

.depo .row .coluna {
  width: 33.333%;
  background-color: #FFFFFF;
  border-radius: 16px 16px 16px 0px;
  border: solid 0.1rem #ECF0F5;
  -webkit-transition: background 0.3s, border 0.3s, border-radius 0.3s, -webkit-box-shadow 0.3s;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, -webkit-box-shadow 0.3s;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
  margin: 0 0.8rem -7rem 0.8rem;
  --e-column-margin-right: 0.6rem;
  --e-column-margin-left: 0px;
  padding: 4.8rem 4rem 4.8rem 4rem;
}

.depo .row .coluna .c-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.depo .row .coluna .c-header .stars {
  width: 50%;
}

.depo .row .coluna .c-header .stars i {
  color: #008037;
  font-size: 1rem;
}

.depo .row .coluna .c-header .img {
  width: 50%;
  text-align: right;
}

.depo .row .coluna .c-header .img i {
  color: #6ec1e4;
  fill: rgba(27, 95, 193, 0.18);
  font-size: 3.2rem;
}

.depo .row .coluna .testimu {
  font-family: "Roboto", sans-serif;
  color: #0C122D;
  font-size: 1.6rem;
  font-weight: 600;
  margin: 2.4rem 0 2rem 0;
}

.depo .row .coluna .c-roda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.depo .row .coluna .c-roda .img {
  margin-right: 1.5rem;
}

.depo .row .coluna .c-roda .img img {
  width: 4rem;
  height: 4rem;
}

.depo .row .coluna .c-roda .details .nome {
  font-family: "Roboto", sans-serif;
  color: #0C122D;
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.depo .row .coluna .c-roda .details .job {
  font-family: "Roboto Slab", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  color: #54595f;
}

.info {
  background-color: #F7FDFB;
}

.info .row {
  -webkit-transition: background 0.3s, border 0.3s, border-radius 0.3s, -webkit-box-shadow 0.3s;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, -webkit-box-shadow 0.3s;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
  padding: 104px 80px 104px 80px;
  text-align: center;
}

.info .row .heading {
  font-size: 3.3rem;
  color: #008037;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  margin-bottom: 3rem;
}

.info .row p {
  font-size: 1.6rem;
  line-height: 1.5;
  color: #7a7a7a;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-bottom: 5rem;
}

.info .row .margin {
  margin-bottom: 0;
}

.info .row .btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background-color: #F5811F;
}

.info .row .btn:hover {
  background-color: #008037;
}

.contato {
  background-color: #008037;
}

.contato .row {
  max-width: 107.5rem;
  padding: 4rem 4rem 4rem 4rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contato .row .coluna {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
}
/*# sourceMappingURL=estilo.css.map */